[Desktop Entry]
Type=Application
Name=FileSail
Comment=Navigate local files
Exec=filesail %f
Icon=filesail
Terminal=false
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
StartupNotify=true
